@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
  font-weight: 400 700;
}

@font-face {
  font-family: Raleway;
  src: url(./fonts/Raleway-VariableFont_wght.ttf) format("truetype");
  font-weight: 400 700;
}

.regularMontserrat {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.boldMontserrat {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.regularRaleway {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.boldRaleway {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
}

body {
  color: #000;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}

.none {
  display: none !important;
}

.mainContainer {
  width: 100%;
  position: relative;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flexContainerCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  justify-content: flex-start !important;
}

#aside {
  justify-content: space-around !important;
  background-color: #2a3647;
  color: #cdcdcd;
  width: 16%;
  height: 100vh;
}

#imgNavContainer {
  justify-content: space-around !important;
  gap: 50px;
}

#logo {
  width: 100px;
}

.asideLinks {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#contactsList {
  gap: 30px;
  justify-content: flex-start !important;
  width: 30%;
  overflow-y: scroll;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  height: 100vh;
}

#contactsList::-webkit-scrollbar {
  width: 10px;
}

#contactsList::-webkit-scrollbar-button {
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
}

#contactsList::-webkit-scrollbar-button:end:increment {
  background-image: url(./images/arrow_bottom.svg);
}

#contactsList::-webkit-scrollbar-button:start:decrement {
  background-image: url(./images/arrow_top.svg);
}

#contactsList::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #a8a8a8;
  border-radius: 18px;
}

#displayContactsContainer {
  gap: 10px;
}

#contactDisplay {
  gap: 20px;
  padding-left: 50px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 54%;
  height: 100vh;
}

#addContactContainer {
  margin-top: 20px;
}

#addContactBtn {
  cursor: pointer;
  background-color: #2a3647;
  color: #fff;
  font-weight: 700;
  padding: 6px 50px;
  border-radius: 6px;
  gap: 10px;
}

#personAddImg {
  width: 24px;
}

.contactContainers {
  justify-content: flex-start;
  gap: 40px;
  padding-left: 22px;
  width: 390px;
  height: 70px;
  border-radius: 8px;
  cursor: pointer;
}

.contactContainers:last-child {
  margin-bottom: 20px;
}

.contactContainers:hover,
.contactContainers:active {
  background-color: #2a3647;
  color: #fff;
}

.nameAbbrContainers {
  width: 40px;
  height: 40px;
  background-color: orangered;
  color: #fff;
  font-weight: 500;
  border: 3px solid #fff;
  border-radius: 100%;
}

.emailsPar {
  color: #0573d9;
}

#headerMotoContainer {
  margin-top: 70px;
}

#headerContContainer {
  border-right: 4px solid #29abe2;
  line-height: 22px;
  padding-right: 14px;
}

#headerContContainer h1 {
  font-size: 40px;
}

#motoContainer {
  padding-left: 14px;
}

#motoContainer h3 {
  color: #2a3647;
}

#currrectContactNameContainer {
  gap: 30px;
}

#currentAbbrNameContainer {
  width: 80px;
  height: 80px;
  background-color: orangered;
  font-size: 34px;
  font-weight: 500;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 100%;
}

#editDeleteContainer {
  gap: 6px;
}

.editDeleteBtns {
  cursor: pointer;
  border: none;
  background-color: transparent;
  gap: 4px;
}

.editDeleteImgs {
  width: 20px;
}

#contactInfoContainer {
  font-weight: 500;
  font-size: 16px;
}

.emailPhoneHeaderContainers {
  font-weight: 700;
}

.currentEmailContainer {
  color: #29abe2;
}

/* Breakpoint 1 - Mobile Phones */
@media screen and (max-width: 480px) {
}

/* Breakpoint 2 - Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
}

/* Breakpoint 3 - Tablets - Laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
}

/* Breakpoint 4 - Laptops - Desktops */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
}

/* Breakpoint 5 - Desktops - TVs */
@media screen and (min-width: 1201px) {
}

/*
#editOverlay {
  position: fixed;
  top: 10%;
  width: 1212px;
  height: 592px;
  border-radius: 30px;
}

.editOverlaySec1 {
  width: 594px;
  background-color: #2a3647;
  justify-content: flex-start;
  gap: 20px;
}

.overlayLogoContainer {
  justify-content: flex-start;
}

.overlayLogo {
  width: 54px;
  height: 66.5px;
}

.overlayHeaderContainer {
  color: #fff;
  font-size: 61px;
  font-weight: 700;
  border-bottom: 3px solid #29abe2;
  line-height: 90px;
  padding-bottom: 73px;
}
*/

#editOverlay {
  position: fixed;
  top: 10%;
  left: 30%;
  width: 50%;
  height: 500px;
  background-color: #fff;
}

.editOverlaySec1 {
  width: 35%;
  height: 100%;
  background-color: #2a3647;
  gap: 20px;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.overlayLogoContainer {
  width: 100%;
  justify-content: flex-start !important;
}

.overlayLogo {
  width: 46px;
  height: 62px;
  margin-left: 40px;
}

.overlayHeaderContainer {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 6px;
  position: relative;
}

.overlayHeaderContainer::after {
  content: "";
  border-bottom: 3px solid #29abe2;
  width: 80px;
  display: block;
}

.editOverlaySec2 {
  width: 65%;
  height: 100%;
  gap: 60px;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

#overlayAbbr {
  background-color: #ffc700;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.overlayFormContainer {
  gap: 60px;
}

#closeContainer {
  width: 360px;
  justify-content: flex-end;
}

#closeBtn {
  cursor: pointer;
}

#editForm {
  gap: 30px;
  justify-content: flex-start;
  align-items: flex-start;
}

#editForm input {
  text-indent: 2px;
  font-size: 16px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  /*padding: 10px 60px;*/
  width: 360px;
  height: 38px;
  text-indent: 20px;
  background-repeat: no-repeat;
  background-position: 94% center;
  background-size: 22px;
}

#editForm input:focus {
  outline: #29abe2 solid 1px;
}

#fullName {
  background: url("./images/person.svg");
}

#email {
  background: url("./images/mail.svg");
}

#phone {
  background: url("./images/call.svg");
}

.overlayBtnsContainer {
  gap: 20px;
}

.overlayBtns {
  cursor: pointer;
  font-size: 18px;
  padding: 12px 24px;
  border: 1px solid #2a3647;
  border-radius: 8px;
}

#deleteBtn {
  background-color: #fff;
  color: #2a3647;
}

#saveBtn {
  background-color: #2a3647;
  color: #fff;
  padding: 12px 16px;
  gap: 8px;
}

#checkImg {
  width: 14px;
}

/*Add Contact Overlay*/

#addContactOverlay {
  position: fixed;
  top: 10%;
  left: 30%;
  width: 50%;
  height: 500px;
  background-color: #fff;
}

.addOverlaySec1 {
  width: 35%;
  height: 100%;
  background-color: #2a3647;
  gap: 20px;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.overlayLogoContainer {
  width: 100%;
  justify-content: flex-start !important;
}

.overlayLogo {
  width: 46px;
  height: 62px;
  margin-left: 40px;
}

.overlayHeaderContainer {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 6px;
  position: relative;
}

.overlayHeaderContainer p {
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 10px;
}

.overlayHeaderContainer::after {
  content: "";
  border-bottom: 3px solid #29abe2;
  width: 80px;
  display: block;
}

.addOverlaySec2 {
  width: 65%;
  height: 100%;
  gap: 60px;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

#overlayAbbrAdd {
  background-color: #d1d1d1;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

#overlayAbbrAddImg {
  width: 42px;
  height: 42px;
}

.overlayFormContainer {
  gap: 60px;
}

#closeContainer {
  width: 360px;
  justify-content: flex-end;
}

#addCloseBtn {
  cursor: pointer;
}

#editFormAdd {
  gap: 30px;
  justify-content: flex-start;
  align-items: flex-start;
}

#editFormAdd input {
  text-indent: 2px;
  font-size: 16px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  /*padding: 10px 60px;*/
  width: 360px;
  height: 38px;
  text-indent: 20px;
  background-repeat: no-repeat;
  background-position: 94% center;
  background-size: 22px;
}

#editFormAdd input:focus {
  outline: #29abe2 solid 1px;
}

#fullNameAdd {
  background: url("./images/person.svg");
}

#emailAdd {
  background: url("./images/mail.svg");
}

#phoneAdd {
  background: url("./images/call.svg");
}

.overlayBtnsContainer {
  gap: 20px;
}

.overlayBtns {
  cursor: pointer;
  font-size: 18px;
  padding: 12px 16px;
  border: 1px solid #2a3647;
  border-radius: 8px;
  gap: 8px;
}

#cancelBtn {
  background-color: #fff;
  color: #2a3647;
  padding: 10px 14px;
}

#createBtn {
  background-color: #2a3647;
  color: #fff;
}

#cancelImgAdd {
  width: 24px;
}

#checkImgAdd {
  width: 14px;
}
