body{
    margin: 0;
}
.side-wrap{
    display: flex;
    justify-content: center;
    flex-direction:row ;
    background: rgb(42,54,71) ;
    height: 100vh;
    width: 232px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    
}
.join-capa{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.sidebar-buttons-height{
    height: 229px;
    width: 232px;
    gap: 15px;
}
.button-sidebar{
    width: 232px;
    height: 46px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #A8A8A8;
    background-color: rgb(42,54,71) ;
}

.police-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center; 
    width: 232px;
    height: 317px;
    padding: 243px,0px,0px,52px;
    gap: 4px;
}
.police-button{
    color: #A8A8A8;
    background-color: rgb(42,54,71) ;
    width: 121px;
    height: 35px;
}