/* styles.css */
body {
  font-family: "Inter";
}

#datepicker {
  width: 200px;
  padding: 10px;
  font-size: 16px;
}

.ui-datepicker .ui-datepicker-current-day a {
  background: #ffcc00; /* Hintergrundfarbe für das aktuelle Datum */
  border: 1px solid #ff9900;
}

.ui-datepicker .ui-state-disabled {
  background: #ddd;
}

.ui-datepicker .ui-state-selected {
  background: #007bff;
  color: #fff;
}
