/* Breakpoint 1 - Mobile Phones */
@media screen and (max-width: 480px) {
}

/* Breakpoint 2 - Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
}

/* Breakpoint 3 - Tablets - Laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
}

/* Breakpoint 4 - Laptops - Desktops */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
}

/* Breakpoint 5 - Desktops - TVs */
@media screen and (min-width: 1201px) {
}

/*--------------------------------------------------
----------------------------------------------------*/

@media (max-width: 1200px) {
  .contacts-container {
    width: 100%;
    max-width: unset;
  }

  .back-to-contact-list {
    display: flex;
  }
}

@media (max-width: 900px) {
  .main-contacts {
    margin-left: 0;
    position: relative;
  }
}

@media (max-width: 680px) {
  .contacts-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    flex-direction: column;
  }

  .header-border {
    border: 1px solid #29abe2;
    border-radius: 2px;
    margin: 12px 0px;
    width: 116px;
    height: 0;
  }

  .header-headline {
    font-size: 48px;
  }

  .header-subheadline {
    font-size: 18px;
  }

  .detail-name {
    font-size: 30px;
    line-height: 42.4px;
  }

  .contact-overlay-icon {
    min-width: 92px;
    height: 92px;
    border: 2px solid white;
  }
}

@media (max-width: 480px) {
  .edit-delete {
    display: none;
  }

  .edit-delete-add-mobile {
    position: absolute;
    right: 30px;
    cursor: pointer;
    display: flex;
    bottom: 30px;
  }

  .edit-delete-add-mobile img {
    width: 32px;
    height: 32px;
    background-color: #2a3647;
    padding: 12px;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px #00000040;
  }

  .edit-delete-add-mobile img:hover {
    background-color: #29abe2;
  }

  .flexContainer {
    display: none;
  }

  .name {
    font-size: 17px;
  }

  .mail {
    font-size: 13px;
  }
  
}
