/* Breakpoint 1 - Mobile Phones */
@media screen and (max-width: 480px) {
}

/* Breakpoint 2 - Tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
}

/* Breakpoint 3 - Tablets - Laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
}

/* Breakpoint 4 - Laptops - Desktops */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
}

/* Breakpoint 5 - Desktops - TVs */
@media screen and (min-width: 1201px) {
}

/*--------------------------------------------------
----------------------------------------------------*/

@media (max-width: 1200px) {
  .contacts-container {
    width: 100%;
    max-width: unset;
  }

  .back-to-contact-list {
    display: flex;
  }
}

@media (max-width: 900px) {
  .main-contacts {
    margin-left: 0;
    position: relative;
  }
}

@media (max-width: 680px) {
  .contacts-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    flex-direction: column;
  }

  .header-border {
    border: 2px solid #29abe2;
    border-radius: 2px;
    margin: 12px 0px;
    width: 116px;
    height: 0;
  }
}
