@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
  font-weight: 400 700;
}

@font-face {
  font-family: Raleway;
  src: url(./fonts/Raleway-VariableFont_wght.ttf) format("truetype");
  font-weight: 400 700;
}

.regularMontserrat {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.boldMontserrat {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.regularRaleway {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.boldRaleway {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
}

body {
  width: 100%;
  background-color: #29abe2;
  color: #000;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
}

.none {
  display: none !important;
}

#asteriskRed,
#asteriskTitle,
#asteriskDate,
#asteriskCategory,
#boardSubtasks {
  color: #b8040d;
}

.mainContainer {
  width: 100%;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.flexContainerCol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

/*
@media (min-width: 1201px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 900px) {

}

@media (max-width: 680px) {

}

@media (max-width: 480px) {

}
*/

#sectionContainer {
  width: 100vw;
  height: 100vh;
}

#addTaskBoardOverlayContainer {
  gap: 40px;
}

#xBtn {
  cursor: pointer;
}

#addTaskBoardOverlayContainer input {
  text-indent: 4px;
  width: 300px;
  padding: 8px 4px;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
}

#addTaskBoardOverlayContainer textarea {
  text-indent: 4px;
  width: 302px;
  padding: 8px 4px;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
}

#addTaskBoardOverlayContainer select {
  background-color: #fff;
  width: 310px;
  padding: 8px 4px;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
}

#addTaskBoardOverlayContainer input::placeholder,
#addTaskBoardOverlayContainer textarea::placeholder {
  color: #d1d1d1;
}

#addTaskBoardOverlayContainer input::-ms-input-placeholder,
#addTaskBoardOverlayContainer textarea::-ms-input-placeholder {
  color: #d1d1d1;
}

#headerXbtnContainer {
  width: 70%;
  justify-content: space-between;
}

#addTaskBoardOverlays {
  width: 100%;
  justify-content: space-between;
}

#errorMsgCancelCreateBtnsContainer {
  width: 70%;
  justify-content: space-between;
}

#taskBoardOverlayForm {
  gap: 22px;
}

#errorMessageContainer {
  height: 30px;
  justify-content: flex-end;
}

#inputErrorMsg {
  font-size: 14px;
}

#addTaskBoardOverlayForm2 {
  gap: 13px;
}

#boardDateInputImgContainer,
#boardSubtasksInputImgContainer {
  position: relative;
}

#calendarIcon,
#plusIcon {
  position: absolute;
}

#addTaskBoardOverlayContainer input,
#addTaskBoardOverlayContainer textarea,
#addTaskBoardOverlayContainer select,
#addTaskBoardOverlayContainer button,
#calendarIcon,
#plusIcon {
  cursor: pointer;
}

#addTaskBoardOverlayContainer input:focus,
#addTaskBoardOverlayContainer input:active,
#addTaskBoardOverlayContainer textarea:focus,
#addTaskBoardOverlayContainer textarea:active,
#addTaskBoardOverlayContainer select:focus,
#addTaskBoardOverlayContainer select:active,
#addTaskBoardOverlayContainer button:focus,
#addTaskBoardOverlayContainer button:active {
  outline: 1px solid #29abe2;
}

#boardDate::-webkit-calendar-picker-indicator {
  cursor: pointer;
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url("../database/images/event.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  padding-left: 12px;
  border-width: thin;
  z-index: 999;
}

#boardAssigned,
#boardCategory {
  appearance: none;
  position: relative;
  cursor: pointer;
  display: block;
  background: url("../database/images/arrow_drop_down.svg");
  background-repeat: no-repeat;
  background-position: right center;
  border-width: thin;
  z-index: 999;
}

.priorityButtons {
  gap: 6px;
  border: none;
  outline: none !important;
  padding: 8px 16px;
  border-radius: 6px;
}

.whiteButtons {
  background-color: #fff !important;
  color: #000 !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important;
}

.whiteButtons:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px !important;
}

#cancelCreateBtnsContainer {
  gap: 14px;
}

#cancelBoardOverlayBtn {
  padding: 8px 14px;
  background-color: #fff;
  color: #2a3647;
  border: 1px solid #2a3647;
  border-radius: 8px;
  gap: 4px;
}

#cancelBoardOverlayBtn img {
  width: 18px;
  height: 18px;
}

#createBoardOverlayBtn {
  padding: 10px 14px;
  background-color: #2a3647;
  color: #fff;
  border: 1px solid #2a3647;
  border-radius: 8px;
  gap: 8px;
}

#createBoardOverlayBtn:hover,
#createBoardOverlayBtn:focus {
  background-color: #29abe2;
  border: 1px solid #29abe2;
}

#createBoardOverlayBtn img {
  width: 12px;
  height: 12px;
}

@media (min-width: 1201px) {
  #addTaskBoardOverlayContainer {
    width: 80vw;
    height: 70vh;
    background-color: #fff;
    border-radius: 20px;
  }

  #addTaskBoardOverlay1 {
    border-right: 1px solid #d1d1d1;
    justify-content: space-around;
    width: 50%;
    height: 100%;
  }

  #addTaskBoardOverlayHeader {
    border: 1px solid #000;
    justify-content: flex-start;
  }

  #taskBoardHeader {
    font-size: 46px;
  }

  #addTaskBoardOverlay2 {
    justify-content: space-around;
    width: 50%;
    height: 100%;
  }

  #boardInputImgContainer {
    justify-content: flex-start;
  }

  #calendarIcon {
    right: 16%;
    top: 2%;
    width: 20px;
    height: 20px;
  }

  #plusIcon {
    right: 2%;
    top: 18%;
    width: 20px;
    height: 20px;
  }

  #priorityHeaderContainer {
    justify-content: flex-start;
    width: 100%;
  }

  #priorityBtnsContainer {
    gap: 10px;
  }

  .boardBtnIcons {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 1200px) {
  #addTaskBoardOverlayContainer {
    width: 80vw;
    height: 70vh;
    background-color: #fff;
    border-radius: 20px;
  }

  #addTaskBoardOverlay1 {
    border-right: 1px solid #d1d1d1;
    justify-content: space-around;
    width: 50%;
    height: 100%;
  }

  #addTaskBoardOverlayHeader {
    border: 1px solid #000;
    justify-content: flex-start;
  }

  #taskBoardHeader {
    font-size: 46px;
  }

  #addTaskBoardOverlay2 {
    justify-content: space-around;
    width: 50%;
    height: 100%;
  }

  #boardInputImgContainer {
    justify-content: flex-start;
  }

  #calendarIcon {
    right: 16%;
    top: 2%;
    width: 20px;
    height: 20px;
  }

  #plusIcon {
    right: 2%;
    top: 18%;
    width: 20px;
    height: 20px;
  }

  #priorityHeaderContainer {
    justify-content: flex-start;
    width: 100%;
  }

  #priorityBtnsContainer {
    gap: 10px;
  }

  .boardBtnIcons {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 900px) {
  #headerXbtnContainer {
    width: 92%;
  }

  #errorMsgCancelCreateBtnsContainer {
    width: 92%;
  }

  #addTaskBoardOverlayContainer input {
    text-indent: 4px;
    width: 220px;
    padding: 8px 4px;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
  }

  #addTaskBoardOverlayContainer input[type="date"] {
    padding: 5px;
  }

  #addTaskBoardOverlayContainer textarea {
    text-indent: 4px;
    width: 222px;
    padding: 8px 4px;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
  }

  #addTaskBoardOverlayContainer select {
    width: 230px;
    padding: 8px 4px;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
  }

  .priorityButtons {
    gap: 4px;
    border: none;
    outline: none !important;
    padding: 8px 8px;
    border-radius: 6px;
  }

  #boardDate::-webkit-calendar-picker-indicator {
    width: 12px;
    height: 12px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  #cancelBoardOverlayBtn {
    padding: 8px 10px;
    gap: 2px;
  }

  #createBoardOverlayBtn {
    padding: 10px 12px;
    gap: 6px;
  }

  #addTaskBoardOverlayContainer {
    width: 80vw;
    height: 70vh;
    background-color: #fff;
    border-radius: 20px;
  }

  #addTaskBoardOverlay1 {
    border-right: 1px solid #d1d1d1;
    justify-content: space-around;
    width: 50%;
    height: 100%;
  }

  #addTaskBoardOverlayHeader {
    border: 1px solid #000;
    justify-content: flex-start;
  }

  #taskBoardHeader {
    font-size: 46px;
  }

  #addTaskBoardOverlay2 {
    justify-content: space-around;
    width: 50%;
    height: 100%;
  }

  #boardInputImgContainer {
    justify-content: flex-start;
  }

  #calendarIcon {
    right: 16%;
    top: 2%;
    width: 20px;
    height: 20px;
  }

  #plusIcon {
    right: 2%;
    top: 18%;
    width: 20px;
    height: 20px;
  }

  #priorityHeaderContainer {
    justify-content: flex-start;
    width: 100%;
  }

  #priorityBtnsContainer {
    gap: 6px;
  }

  .boardBtnIcons {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 680px) {
  #addTaskBoardOverlayContainer {
    background-color: #f6f7f8 !important;
    padding: 20px 0;
  }

  #headerXbtnContainer {
    width: 64%;
    align-items: center;
  }

  #errorMsgCancelCreateBtnsContainer {
    width: 64%;
  }

  #addTaskBoardOverlayContainer input {
    text-indent: 4px;
    width: 300px;
    padding: 8px 4px;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
  }

  #addTaskBoardOverlayContainer input[type="date"] {
    padding: 5px;
  }

  #addTaskBoardOverlayContainer textarea {
    text-indent: 4px;
    width: 302px;
    padding: 8px 4px;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
  }

  #addTaskBoardOverlayContainer select {
    width: 310px;
    padding: 8px 4px;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
  }

  .priorityButtons {
    gap: 6px;
    border: none;
    outline: none !important;
    padding: 8px 18px;
    border-radius: 6px;
  }

  #boardDate::-webkit-calendar-picker-indicator {
    width: 12px;
    height: 12px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  #cancelBoardOverlayBtn {
    padding: 8px 10px;
    gap: 2px;
    display: none;
  }

  #createBoardOverlayBtn {
    padding: 10px 12px;
    gap: 6px;
  }

  #addTaskBoardOverlays {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  #addTaskBoardOverlayContainer {
    width: 100vw;
    height: 80vh;
    background-color: #fff;
    border-radius: 0;
  }

  #addTaskBoardOverlays {
    flex-direction: column;
  }

  #addTaskBoardOverlay1 {
    border: none;
    justify-content: space-around;
    width: 50%;
    height: 100%;
  }

  #addTaskBoardOverlayHeader {
    border: 1px solid #000;
    justify-content: flex-start;
  }

  #taskBoardHeader {
    font-size: 36px;
  }

  #xBtnContainer {
    display: none;
  }

  #addTaskBoardOverlay2 {
    justify-content: space-around;
    width: 50%;
    height: 100%;
  }

  #boardInputImgContainer {
    justify-content: flex-start;
  }

  #calendarIcon {
    right: 16%;
    top: 2%;
    width: 20px;
    height: 20px;
  }

  #plusIcon {
    right: 2%;
    top: 18%;
    width: 20px;
    height: 20px;
  }

  #priorityHeaderContainer {
    justify-content: flex-start;
    width: 100%;
  }

  #priorityBtnsContainer {
    gap: 12px;
  }

  .boardBtnIcons {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 480px) {
  #addTaskBoardOverlayContainer {
    background-color: #f6f7f8 !important;
    padding: 20px 0;
  }

  #headerXbtnContainer {
    width: 90%;
    align-items: center;
  }

  #errorMsgCancelCreateBtnsContainer {
    width: 90%;
  }

  #addTaskBoardOverlayContainer input {
    text-indent: 4px;
    width: 280px;
    padding: 8px 4px;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
  }

  #addTaskBoardOverlayContainer input[type="date"] {
    padding: 5px;
  }

  #addTaskBoardOverlayContainer textarea {
    text-indent: 4px;
    width: 282px;
    padding: 8px 4px;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
  }

  #addTaskBoardOverlayContainer select {
    width: 290px;
    padding: 8px 4px;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
  }

  .priorityButtons {
    gap: 6px;
    border: none;
    outline: none !important;
    padding: 8px 14px;
    border-radius: 6px;
  }

  #boardDate::-webkit-calendar-picker-indicator {
    width: 12px;
    height: 12px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  #cancelBoardOverlayBtn {
    padding: 8px 10px;
    gap: 2px;
    display: none;
  }

  #createBoardOverlayBtn {
    padding: 10px 12px;
    gap: 6px;
  }

  #addTaskBoardOverlays {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  #addTaskBoardOverlayContainer {
    width: 100vw;
    height: 80vh;
    background-color: #fff;
    border-radius: 0;
  }

  #addTaskBoardOverlays {
    flex-direction: column;
  }

  #addTaskBoardOverlay1 {
    border: none;
    justify-content: space-around;
    width: 50%;
    height: 100%;
  }

  #addTaskBoardOverlayHeader {
    border: 1px solid #000;
    justify-content: flex-start;
  }

  #taskBoardHeader {
    font-size: 36px;
  }

  #xBtnContainer {
    display: none;
  }

  #addTaskBoardOverlay2 {
    justify-content: space-around;
    width: 50%;
    height: 100%;
  }

  #boardInputImgContainer {
    justify-content: flex-start;
  }

  #calendarIcon {
    right: 16%;
    top: 2%;
    width: 20px;
    height: 20px;
  }

  #plusIcon {
    right: 2%;
    top: 18%;
    width: 20px;
    height: 20px;
  }

  #priorityHeaderContainer {
    justify-content: flex-start;
    width: 100%;
  }

  #priorityBtnsContainer {
    gap: 12px;
  }

  .boardBtnIcons {
    width: 16px;
    height: 16px;
  }
}

/* ************************************************************************************************************************************************* */
/* New Dropdown CSS */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown button::after {
  content: ' ▼';
  float: right;
}

.dropdown button.open::after {
  content: ' ▲';
}

.dropdown-content {
  display: none;
  width: 100%;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown-content label {
  display: block;
  padding: 8px 16px;
}

.dropdown-content label:hover {
  background-color: #f1f1f1;
}

.dropdown.open .dropdown-content {
  display: block;
}

.dropdown button{
  font-size: 11px;
}

#boardAssignedContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dropdown-button{
  width: 100%;
  background-color: #ffffff !important;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
}

.dropdown-content label{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-content label input{
  width: auto !important;
}

.selected-contacts{
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.label-initials{
  display: flex;
    gap: 5px;
}